<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAccountSectionMapper">			
	
	<select id="countAccountSectionSearch">
		select count(*) from account_section
		<trim prefix="where" prefixOverrides="and">
			<if test="id!=null">
				and id like #{id}
			</if>
			<if test="name!=null">
				and name like #{name}
			</if>
			<if test="description!=null">
				and description like #{description}
			</if>
		</where>		
	</select>

	<select id="searchAccountSection">
		select * from account_section  
		<trim prefix="where" prefixOverrides="and">
			<if test="id!=null">
				id like #{id}
			</if>
			<if test="name!=null">
				name like #{name}
			</if>
			<if test="description!=null">
				description like #{description}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
