<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAccountSectionMapper">			
	
	<insert id="newAccountSection">
		insert into account_section(id,name,description) 
		values (#{id},#{name},#{description});
	</insert>

</mapper>
