<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppContactMapper">			
	
	<select id="readAppContact">
		select * from app_contact where username = #{username};
	</select>

	<select id="appMessage_N3ULB">         
		select * from app_message where username = #{username};
	</select>
  
</mapper>
