<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppRoomMapper">			
	
	<select id="countAppRoomSearch">
		select count(*) from app_room
		<trim prefix="where" prefixOverrides="and">
			<if test="meetingRoom!=null">
				and meeting_room like #{meetingRoom}
			</if>
			<if test="subject!=null">
				and subject like #{subject}
			</if>
			<if test="participant!=null">
				and participant like #{participant}
			</if>
			<if test="startDate!=null">
				and start_date like #{startDate}
			</if>
			<if test="endDate!=null">
				and end_date like #{endDate}
			</if>
			<if test="status!=null">
				and status like #{status}
			</if>
			<if test="refValue!=null">
				and ref_value like #{refValue}
			</if>
		</where>		
	</select>

	<select id="searchAppRoom">
		select * from app_room  
		<trim prefix="where" prefixOverrides="and">
			<if test="meetingRoom!=null">
				meeting_room like #{meetingRoom}
			</if>
			<if test="subject!=null">
				subject like #{subject}
			</if>
			<if test="participant!=null">
				participant like #{participant}
			</if>
			<if test="startDate!=null">
				start_date like #{startDate}
			</if>
			<if test="endDate!=null">
				end_date like #{endDate}
			</if>
			<if test="status!=null">
				status like #{status}
			</if>
			<if test="refValue!=null">
				ref_value like #{refValue}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
