<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newGeneralLedgerMapper">			
	
	<insert id="newGeneralLedger">
		insert into general_ledger(id,acc_code,create_date,description,debit,credit,posted,source) 
		values (#{id},#{accCode},#{createDate},#{description},#{debit},#{credit},#{posted},#{source});
	</insert>

</mapper>
