<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeStockMasterMapper">			
	
	<update id="writeStockMaster">
		update stock_master set id = #{id},
		code = #{code},
		units = #{units},
		mbflag = #{mbflag},
		lastcurcostdate = #{lastcurcostdate},
		actualcost = #{actualcost},
		lastcost = #{lastcost},
		materialcost = #{materialcost},
		labourcost = #{labourcost},
		overheadcost = #{overheadcost},
		lowestlevel = #{lowestlevel},
		discontinued = #{discontinued},
		controlled = #{controlled},
		eoq = #{eoq},
		volume = #{volume},
		kgs = #{kgs},
		barcode = #{barcode},
		discountcategory = #{discountcategory},
		taxcatid = #{taxcatid},
		serialised = #{serialised},
		appendfile = #{appendfile},
		perishable = #{perishable},
		decimalplaces = #{decimalplaces},
		nextserialno = #{nextserialno},
		pansize = #{pansize},
		shrinkfactor = #{shrinkfactor} where id = #{id};
	</update>

</mapper>
